<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En desarrollo</title>
    <link rel="stylesheet" href="/css/crearCuenta.css">
</head>
<div id="contenedor">
  <div class="contenedor-loader">
    <div class="loader"></div>
  </div>
  <div class="cargando">Compras en carrito proximamente</div>
</div>

</body>
</html>