@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300');

/* RESET */
ul{padding:0;margin:0;}
li{list-style-type:none;}
input[type='radio']{display:none;}
label{cursor:pointer}
::-webkit-scrollbar {display: none;}

center {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* BODY */
body{
  height: 100vh;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: #1e2a38;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

/* SWANKY MENU */
.swanky{
  perspective:600px;
  width:600px;
  position:absolute;
  margin:auto;
  height:360px;
  left:0;right:0;top:0;bottom:0;
}

.swanky_title{
  float:right;
  text-align:left;
  width:250px;
  color:white;
  position:relative;
  top:70px;
}

.swanky_title__social a{
  position:relative;
  overflow:hidden;
  width: 140px;
  margin-right: 15px;
  padding: 0 0 5px 0;
  height: 40px;
  border: 2px solid white;
  float: left;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin-top:20px;
  text-decoration:none;
}

.swanky_title__social a img{
  width: 16px;
  margin-left: 10px;
  margin-right: 8px;
  margin-top: 10px;
  position: relative;
  top:4px;
  transition: margin-left .1s;
}

.swanky_title__social a .slide{
  height: 45px;
  width: 100px;
  position: absolute;
  float:left;
  transform: skew(20deg);
  left: -120px;
  transition: left .2s;
  background: white;
}

.swanky_title__social a .slide .arrow{
  position: absolute;
  right: 31px;
  top: 24px;
  opacity:0;
  transform: skew(-20deg);
}

.swanky_title__social a .slide .arrow .stem{
  width:10px;
  height:2px;
  background: rgb(133,132,144);
}

.swanky_title__social a .slide .arrow .point{
  width:6px;
  height:6px;
  border-right:2px solid rgb(133,132,144);
  border-top:2px solid rgb(133,132,144);
  top:-3px;
  right:1px;
  position:absolute;
  transform: rotate(45deg);
}

.swanky_title__social a:hover > .slide{
  left:-70px;
}

.swanky_title__social a:hover > img{
  margin-left:40px;
}

.swanky_title__social a:hover > .slide .arrow{
  right:11px;
  opacity:1;
  transition: right .2s, opacity .2s;
}

/* INTRO */
.swanky .intro{
  float:right;
  color:white;
  width:370px;
  top:50px;
  position:relative;
}

.swanky .intro h1{
  text-shadow: 0px 2px rgba(0,0,0,0.26);
}

.swanky .intro p{
  line-height:20px;
  text-shadow: 0px 1px rgba(0,0,0,0.26);
}

/* WRAPPER */
.swanky_wrapper{
  width:225px;
  height:auto;
  overflow:hidden;
  border-radius:4px;
  background:#2a394f;
  position:relative;
}

.swanky_wrapper label{
  padding:25px;
  float:left;
  height:72px;
  border-bottom:1px solid #293649;
  width:100%;
  color:rgb(239,244,250);
  transition:text-indent .15s, height .3s;
  box-sizing:border-box;
}

.swanky_wrapper label img{
  margin-right:10px;
  width:16px;
  position:relative;
  top:2px;
}

.swanky_wrapper label span{
  position:relative;
  top:-3px;
}

.swanky_wrapper label:hover{
  background:rgb(33,46,65);
  border-bottom:1px solid #2A394F;
  text-indent:4px;
}

.swanky_wrapper label:hover .bar{
  width:100%;
}

.swanky_wrapper label .bar{
  width:0px;
  height:2px;
  background:rgb(53,87,137);
  bottom:0;
  left:0;
  position:absolute;
  transition: width .15s;
}

.swanky_wrapper label .lil_arrow{
  width:5px;
  height:5px;
  border-top:2px solid white;
  border-right:2px solid white;
  float:right;
  position:relative;
  top:6px;
  right:2px;
  transform:rotate(45deg);
  transition: transform 0.8s cubic-bezier(0.68,-0.55,0.265,1.55);
}

/* CONTENT */
.swanky_wrapper__content{
  position:absolute;
  display:none;
  overflow:hidden;
  left:0;
  width:100%;
}

.swanky_wrapper__content li{
  width:100%;
  opacity:0;
  left:-100%;
  background:#15a4fa;
  padding:25px 0;
  text-indent:25px;
  box-shadow:0px 0px #126CA1 inset;
  transition: box-shadow .3s, text-indent .3s;
  position:relative;
}

.swanky_wrapper__content li:hover{
  background:#0c93e4;
  box-shadow:3px 0px #126CA1 inset;
  text-indent:31px;
}

/* RADIO CHECKED STATE */
input[type='radio']:checked + label .swanky_wrapper__content{
  display:block;
  top:68px;
  border-bottom:1px solid rgb(33,46,65);
}

input[type='radio']:checked + label{
  height:325px;
  background:#212e41;
  text-indent:4px;
  transition:height .6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type='radio']:checked + label .bar{
  width:0;
}

input[type='radio']:checked + label .lil_arrow{
  transform:rotate(135deg);
  border-top:2px solid rgb(20,163,249);
  border-right:2px solid rgb(20,163,249);
}

/* ANIMATION */
@keyframes in{
  from{left:-100%;opacity:0;}
  to{left:0;opacity:1;}
}

/* FOOTER */
.love{
  position:absolute;
  right:20px;
  bottom:0;
  font-size:11px;
}

.love p{
  color:white;
  font-family:'Open Sans',sans-serif;
}

.love a{
  color:white;
  font-weight:700;
  text-decoration:none;
}

.love img{
  width:10px;
  position:relative;
  top:3px;
  margin:0 4px;
}

.brand{
  position:absolute;
  left:20px;
  bottom:14px;
}

.brand img{
  width:30px;
}
